.hero{
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('../images/herobg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--hero-footer-background-color);
}

 
 
.hero__title{
    @include font(900, 44, 1.36, 0.06);
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
    
    color:var(--title-color);
}

.hero__btn{
    @include button;
    @include font(700, 16, 1.9, 0.06);
    font-family: inherit;
    text-align: center;
    justify-content:center;
    padding: 10px 32px;
}
