.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal__container{
    @include transition(transform);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 40px;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;  
}

.button-close{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.modal-heading{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-imput-group{
  display: block;   
  margin-bottom: 10px;
 
}
.modal-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
    display: block;

    margin-bottom: 4px;
}

.modal-imput-wrapper{
    position: relative;
}

.modal-input{
    @include transition(border-color);
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    &:focus{
    border-color: var(--accent-text-color);
    outline: transparent;
}
    &:focus + .modal-icon{
    fill: var(--accent-text-color);
}
}

.modal-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    
}

.modal-input + .modal-icon{
    @include transition(border-color);
}


.comment-input{
    @include transition(border-color);
    width: 100%;
    height: 120px;
    padding: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    padding: 12px 16px;
    margin-bottom: 20px;

    &::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(117, 117, 117, 0.5);;
}
    &:focus{
    border-color: var(--accent-text-color);
    outline: transparent;
}
}
 
.check-input{
    position: absolute;
    background-size: contain;
    background-origin: border-box; 
}
.check-box{
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 9px;

    display: flex; 
    justify-content: center;
}


.policy-agree:checked + label > span {
    border: none;
    background-color: var(--accent-text-color);
}
 
.policy-text{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px ;
}

.check-box{
    width: 16px;
    height: 15px;
    border: 2px solid #212121;;
    border-radius: 2px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & svg{
    width: 11px;
    height: 100%;
    fill: transparent;
}
}

.check-input:checked + label > span{
    border: none;
    background-color: var(--accent-text-color);
    & svg{  
    fill: var(--title-color);
}
}

.policy-text a {
    color: var(--accent-text-color);
    margin-left: 4px;
   
}
.submit-btn{
    @include button;
    @include font(700, 16, 1.9, 0.06);
    font-family: inherit;
    align-items: center;
    display: block;
    justify-content:center;
    padding: 10px 52px;
    margin-left:auto;
    margin-right: auto;
}