@mixin font($fw, $fs, $lh, $ls){
    font-weight: $fw;
    font-size: $fs + px;
    line-height: $lh;
    letter-spacing: $ls + em;
}

@mixin button {
    border: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color: var(--title-color);
    background-color: var(--accent-text-color);
}

@mixin transition ($property) {
  $duration: 250ms;
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

@mixin retina {
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  @content;
}
}