.footer {
  padding: 60px 0;
  background-color: var(--hero-footer-background-color);
  width: 100%;
}

.footer-container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .container-tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.container-tablet {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo--start {
  @include font(700, 26, 1.19, 0.03);
  font-family: 'Raleway';
  color: var(--accent-text-color);
}

.footer__logo--end {
  @include font(700, 26, 1.19, 0.03);
  font-family: 'Raleway';
  color: var(--title-color);
}

.address__list--item:not(:last-child) {
  margin-bottom: 9px;
}

.address__list--link {
  @include font(400, 14, 1.7, 0.03);
  @include transition(color);
  font-style: normal;
  color: var(--title-color);
  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__join--title {
  @include font(700, 14, 1.14, 0.03);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__socials--list {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer__socials--items {
  display: inline-flex;
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__socials--link {
  @include transition(background-color);
  @include transition(color);
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: #2196f3;
  }
}

.footer__form {
  margin-left: auto;
}
.footer__imput {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer__imput--label {
  @include font(700, 14, 1.14, 0.03);
  text-transform: uppercase;
  color: #ffffff;
}

.footer__imput--text {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__imput--btn {
  @include button;
  @include font(700, 16, 1.9, 0.06);
  font-family: inherit;
  padding: 10px 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer__imput--icon {
  margin-left: 12px;
}
